<html x-ng-app="myApp">
<head>
	<title>Tic Tac Toe</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
	<script src="angular.min.js"></script>
	<script src='main-work.js'></script>
	<link rel='stylesheet' type='text/css' href='style.css'>
</head>
<body x-ng-controller='GameController'>
	<div id="mainContainer">
		<header>
			<p x-ng-show="game.waiting">WAITING...</p>
			<p>{{game.message}}</p>
		</header>
		<div class="mainBoard">
			<div x-ng-repeat='c in game.cells track by $index'
			x-ng-click="clickPlay($index)">
				<p>{{c}}<p>
			</div>
		</div>
		<footer>
			<div>
				<!-- <input type="text" placeholder="name" x-ng-model="newName">
				<input type="submit" value="play" x-ng-click=> -->
				<p>{{name}}</p></div>
			
		</footer>
	</div>
</body>
</html>